<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Sites</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block th:insert="~{../fragments/govuk :: headerfiles}"></th:block>
</head>
<body>
<header th:insert="~{../fragments/govuk :: header}"> </header>

<a href="/">Home</a>

<hr style="width:50%;text-align:left;margin-left:0">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Sites </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <th:block th:insert="~{../fragments/sites :: resultTable}"></th:block>
        </div>
    </div>
</div>

<div th:replace="~{../fragments/govuk :: footer}"></div>
</body>
</html>